In [1]:
%load_ext autoreload
%autoreload 2

In [78]:
import pandas as pd
import numpy as np
import helpers as h
import re
from collections import Counter

In [50]:
data = h.read_input()

In [4]:
data["information"].iloc[0]

'Tile 3923:'

In [55]:
x = h.get_image(4, data)

In [56]:
x

34    ##..#.#...
35    .......#.#
36    #.#..#.###
37    .....#.#..
38    .......#..
39    ........#.
40    ..#..#.#.#
41    #........#
42    #...#..###
43    ..#.......
Name: information, dtype: object

In [8]:
m=h.image_to_matrix(x)
m

array([[0, 0, 1, 1, 0, 1, 0, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 0, 1, 0],
       [0, 1, 0, 1, 1, 0, 1, 0, 0, 0],
       [1, 1, 1, 1, 1, 0, 1, 0, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 0, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1],
       [1, 1, 0, 1, 1, 0, 1, 0, 1, 0],
       [0, 1, 1, 1, 1, 1, 1, 1, 1, 0],
       [0, 1, 1, 1, 0, 1, 1, 0, 0, 0],
       [1, 1, 0, 1, 1, 1, 1, 1, 1, 1]])

In [20]:
x2 = h.matrix_to_image(m)

In [23]:
x2

0    ##..#.#...
1    .......#.#
2    #.#..#.###
3    .....#.#..
4    .......#..
5    ........#.
6    ..#..#.#.#
7    #........#
8    #...#..###
9    ..#.......
Name: information, dtype: object

In [114]:
h.get_tile_number(14, data)

2903

In [48]:
all_m = h.transform(m)

In [47]:
h.boundary_to_decimal(m)

(215, 625, 895, 377)

In [49]:
[h.boundary_to_decimal(m2) for m2 in all_m]

[(215, 625, 895, 377),
 (634, 215, 569, 895),
 (1019, 634, 940, 569),
 (625, 1019, 377, 940),
 (940, 377, 1019, 625),
 (895, 569, 215, 634),
 (377, 895, 625, 215),
 (625, 1019, 377, 940)]

In [42]:
m

array([[0, 0, 1, 1, 0, 1, 0, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 0, 1, 0],
       [0, 1, 0, 1, 1, 0, 1, 0, 0, 0],
       [1, 1, 1, 1, 1, 0, 1, 0, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 0, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1],
       [1, 1, 0, 1, 1, 0, 1, 0, 1, 0],
       [0, 1, 1, 1, 1, 1, 1, 1, 1, 0],
       [0, 1, 1, 1, 0, 1, 1, 0, 0, 0],
       [1, 1, 0, 1, 1, 1, 1, 1, 1, 1]])

In [45]:
''.join(map(str, m[0]))

'0011010111'

In [51]:
data_example = h.read_input('input_example.txt')

In [116]:
z = []
for i in range(1, 10):
    tile = h.get_tile_number(i, data_example)
    img = h.get_image(i, data_example)
    m = h.image_to_matrix(img)
    m_all = h.transform(m)
    for j in range(8):
        boundary = h.boundary_to_decimal(m_all.iloc[j])
        for k in range(len(boundary)):
            z.append([tile, j+1, k+1, boundary[k]])

In [119]:
all_boundaries = pd.DataFrame(z, columns=['id', 'transformation', 'boundary', 'value'])

In [131]:
all_boundaries.groupby('value')['id'].nunique()

value
16      1
32      1
46      1
110     1
116     1
       ..
995     1
999     1
1017    1
1019    2
1021    1
Name: id, Length: 68, dtype: int64

In [113]:
t = Counter(np.array([r[2] for r in z]).flatten().tolist()).most_common()

In [ ]:
t

In [69]:
tile = h.get_tile_number(1, data_example)
tile

3923

In [72]:

img = h.get_image(1, data_example)
img

1     ...##.....
2     .##.#..#.#
3     ###....#..
4     ...#...#.#
5     ....#.#...
6     ..........
7     .....#.###
8     .##.#..#..
9     ..##..#...
10    ..#.#.##..
Name: information, dtype: object

In [73]:
m = h.image_to_matrix(img)
m

array([[1, 1, 1, 0, 0, 1, 1, 1, 1, 1],
       [1, 0, 0, 1, 0, 1, 1, 0, 1, 0],
       [0, 0, 0, 1, 1, 1, 1, 0, 1, 1],
       [1, 1, 1, 0, 1, 1, 1, 0, 1, 0],
       [1, 1, 1, 1, 0, 1, 0, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
       [1, 0, 0, 1, 0, 1, 1, 0, 1, 1],
       [1, 1, 0, 0, 1, 1, 0, 1, 1, 1],
       [1, 1, 0, 1, 0, 1, 0, 0, 1, 1]])

In [101]:
m_all = h.transform(m)
m_all

Original              [[1, 1, 1, 0, 0, 1, 1, 1, 1, 1], [1, 0, 0, 1, ...
90° Rotation          [[1, 1, 1, 1, 1, 1, 1, 0, 1, 1], [1, 1, 0, 1, ...
180° Rotation         [[1, 1, 0, 0, 1, 0, 1, 0, 1, 1], [1, 1, 1, 0, ...
270° Rotation         [[1, 0, 1, 0, 1, 1, 0, 1, 1, 1], [1, 1, 1, 1, ...
Horizontal Flip       [[1, 1, 1, 1, 1, 0, 0, 1, 1, 1], [0, 1, 0, 1, ...
Vertical Flip         [[1, 1, 0, 1, 0, 1, 0, 0, 1, 1], [1, 1, 0, 0, ...
Main Diagonal Flip    [[1, 1, 0, 1, 1, 1, 1, 1, 1, 1], [1, 0, 0, 1, ...
Anti-Diagonal Flip    [[1, 0, 1, 0, 1, 1, 0, 1, 1, 1], [1, 1, 1, 1, ...
dtype: object

In [98]:
m_all.iloc[0]

array([[1, 1, 1, 0, 0, 1, 1, 1, 1, 1],
       [1, 0, 0, 1, 0, 1, 1, 0, 1, 0],
       [0, 0, 0, 1, 1, 1, 1, 0, 1, 1],
       [1, 1, 1, 0, 1, 1, 1, 0, 1, 0],
       [1, 1, 1, 1, 0, 1, 0, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
       [1, 0, 0, 1, 0, 1, 1, 0, 1, 1],
       [1, 1, 0, 0, 1, 1, 0, 1, 1, 1],
       [1, 1, 0, 1, 0, 1, 0, 0, 1, 1]])

In [115]:
h.boundary_to_decimal(m_all.iloc[1])[0]

398

In [77]:
boundaries = [h.boundary_to_decimal(m2) for m2 in m_all]
boundaries

[[927, 695, 851, 895],
 [1019, 927, 949, 851],
 [811, 1019, 999, 949],
 [695, 811, 895, 999],
 [999, 895, 811, 695],
 [851, 949, 927, 1019],
 [895, 851, 695, 927],
 [695, 811, 895, 999]]

In [ ]:
# Flatten the list of lists into a single list
flattened_list = [number for sublist in data for number in sublist]

# Count the frequency of each number
frequency_count = Counter(flattened_list)

# Print the frequency count
print(frequency_count)

In [89]:
Counter(np.array(boundaries).flatten().tolist()).most_common()

[(695, 5),
 (895, 5),
 (927, 4),
 (851, 4),
 (811, 4),
 (999, 4),
 (1019, 3),
 (949, 3)]